server{

  listen 80;
  {% if letsencrypt_enabled == 1 %}
  listen {{ nginx_listen_https }} ssl http2;
  {% endif %}

  server_name {{ inventory_hostname_short }}.{{ domain_name }};

  error_log   {{ nginx_log_path }}/{{ inventory_hostname_short }}.{{ domain_name }}_error.log;
  access_log  {{ nginx_log_path }}/{{ inventory_hostname_short }}.{{ domain_name }}_access.log;

  {% if letsencrypt_enabled == 1 %}
  ssl_certificate {{ le_ssl_dir }}/{{ inventory_hostname_short }}.{{ domain_name }}/fullchain.pem;
  ssl_certificate_key {{ le_ssl_dir }}/{{ inventory_hostname_short }}.{{ domain_name }}/privkey.pem;
  #include /etc/nginx/sites-available/ssl.conf;
  {% endif %}

  ############
  location / {
    proxy_pass http://127.0.0.1:9090;
  }

  location /nginx_status {
    stub_status on;
    access_log off;
    allow {{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }};
    deny all;
  }

  location /.well-known/ {
    root {{ le_acme_dir }};
  }
}
